body
{
	background-image: url("../images/bg.jpg");
	height: 100vh;
	background-position: 0px 0px;
	background-repeat: repeat-x;
	background-size: auto 100%;
	animation: animatedBackground 180s linear infinite;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#lampSection
{
	position: absolute;
	right: 110px;
	top: 390px;
	z-index: 1;
}

#genieSection
{
	position: absolute;
	right: 0px;
}
.container
{
	padding-top: 300px;
}


#carpetSection
{
	position: absolute;
	right: 1000px;
	top: 500px;
	width: 300px;
	-webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;
}

#lamp
{
	position: absolute;
	bottom: -130px;
	left: 50px;
	top: ;
	z-index: 1;
	width: 90%;
}
#carpet
{
	position: absolute;
	width: 100%;

}


#startSection
{
	margin-top: 50px;
	font-family: 'Lobster Two', cursive;
}


#timeSection
{
	font-family: 'Roboto Condensed', sans-serif;
}

#questionSection
{
	margin-top: 20px;
}
#questionSection .row
{
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}

.choice
{
	z-index: 10;
}

#choiceSection
{
	margin-top: 10px;
}

#answerSection
{
	margin-top: 30px;
	font-family: 'Roboto Condensed', sans-serif;
}


#response
{
	font-family: 'Lobster Two', cursive;
}

.result
{
	width: 100%;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
}


#resultSection
{
	margin-top: 50px;	
}

#restart
{
	font-family: 'Lobster Two', cursive;
}


#circle
{
	border-radius: 50%;
	width: 20px;
	height: 20px;
	position: absolute;
	z-index: 100;
	opacity: 0.2;

}